html {
  font-size: 16px;
}
/* Header Code */
.header {
  display: flex;
  background-color: black;
  padding: 20px 0px 20px 150px;
  justify-content: flex-start;
  align-items: center;
}
.header h1 {
  font-family: Helvetica;
  font-size: 1.75rem;
  color: white;
  padding-left: 20px;
  font-weight: lighter;
}
/*Main Banner*/
.main {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 600px;

}
.main-text {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  font-family: Helvetica;
  color: white;
  height: 150px;
  width: 325px;
  background-color: black;
  margin-left: 150px;
  padding: 20px 20px;
}
.main-text h1 {
  font-size: 2rem;
  font-weight: lighter;
  padding: 10px;
}
.main-text p {
  padding: 10px;
  font-weight: lighter;
}
/* Nav Bar*/
.menu {
  background-color: red;
  height: 25px;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-bottom: 50px;
}
nav span {
  display: inline-flex;

  font-size: 1.5rem;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  text-decoration: underline;

  padding: 0px 35px 0px 35px;
}
/* Gadget Section */
.gadgets {
  display: flex;
  justify-content: center;
  align-content: space-between;
}
.gadget-box img {
  max-width: 250px;
  height: auto;
}

.gadget-box  {
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-end;

  width: 300px;
  height: 300px;

  margin: 30px;
  border: 3px solid black;
}
.gadget-box .label {
  background-color: black;
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  font-family: Helvetica;
  color: white;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap;
  vertical-align: text-bottom;
}
/* Info Section */
.info {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 150px;
  font-size: 1.25rem;
  font-family: Helvetica;
}
.info h1 {
  background-color: black;
  color: white;
  padding: 15px;
  width: 300px;
}
/* Footer */
.info p {
  padding-top: .90rem;
}
footer {
  background-color: black;
  padding: 10rem;

  font-family: Helvetica;
  font-size: 1.5rem;
  color: white;
  font-weight: lighter;
  text-align: center;
}
