html {
  font-size: 18px;
}
/* Header Code */
.header {
  display: flex;
  background-color: black;
  padding: 20px 0px 20px 150px;
  justify-content: flex-start;
  align-items: center;
}
.header h1 {
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  padding: 0.66rem 0rem 0.66rem 1rem;
  font-weight: lighter;
}
.header img {
  height: 1.5rem;
}
/*Main Banner*/
.main {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 25rem;
}
.main-text {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  font-family: Helvetica;
  color: white;
  width: 25rem;
  height: auto;
  background-color: black;
  margin-left: 150px;
  padding: 20px 20px;
}
.main-text h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.main-text p {
  margin-top: 2em;
  margin-left: 3rem;
  font-size: 1rem;
  font-weight: lighter;
}
/* Nav Bar*/
.menu {
  background-color: firebrick;
  height: 25px;
  padding: 20px;

  display: flex;
  /*
  justify-content: center;
  */
  justify-content: space-around;
  align-content: space-around;
  margin-bottom: 50px;
}
nav span {
  display: inline-flex;

  font-size: 1.25rem;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
}
nav .item-menu {
  display: none;
}
/* Gadget Section */
.gadgets {
  display: flex;
  justify-content: center;
  align-content: space-between;
}
.gadget-box img {

  max-width: 250px;
  height: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gadget-box  {
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;


  width: 30%;
  height: auto;

  margin: 3rem;
  border: 4px solid black;
}
.gadget-box .label {
  background-color: black;
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  font-family: Helvetica;
  color: white;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap;
  vertical-align: text-bottom;
}
/* Info Section */
.info {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-size: 1.25rem;
  font-family: Helvetica;

}
.info h1 {
  background-color: black;
  color: white;
  padding: 1.5rem;
  width: 300px;
}
.info p {
  padding-top: .90rem;
}
/* Footer */
footer {
  background-color: black;
  padding: 5rem;

  font-family: Helvetica;
  font-size: 1.5rem;
  color: white;
  font-weight: lighter;
  text-align: center;
}
/*Screen Adjustment*/
@media only screen and (max-width: 1024px) {
  html {
    width: 100%;
  }
  .header {
    padding-left: .5rem;
  }
  .main-text {
    margin-left: 0rem;
  }
  .main-text h1 {
    font-size: 1.5rem;
  }
  .main-text p {
    font-size: .75rem;
  }
  nav span {
    display: none;
  }
  nav .item-menu {
    display: initial;
  }
  #shades {
    display: none;
  }
  .gadgets {
    justify-content: space-between;
  }
  .gadget-box {
    width: 47%;
    margin: 0;
  }
  .info {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 470px) {
  .main {
    height: 15rem;
  }
  .main-text {
    margin-top: 10rem;
    height: 2rem;
  }
  .main-text p {
    font-size: 0.77rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .main-text h1 {
    font-size: 1rem;
    margin-left: 2rem;
  }
  #watch {
    display: none;
  }
  .gadgets {
    justify-content: center;
  }
  .gadget-box {
    width: 90%;
    justify-content: center;
  }
  .gadget-box .label {
    font-size: 1.25rem;
  }
  .info {
    flex-wrap: wrap;
    justify-content:center;
    font-size: 1rem;
  }
  .info h1 {
    width: 375px;
  }
  .info-hours {
    margin-top: 1rem;
  }
  footer {
    font-size: .75rem;
  }
}
